{% extends "layouts/main.njk" %}

{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageContent %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form action="" method="post" novalidate >
                {{ govukDateInput({
                    id: "task-deadline",
                    namePrefix: "task-deadline",
                    hint: {
                        text: "If the task has a deadline, enter it below, or continue to the next page."
                    },
                    items: [
                        {
                            classes: "govuk-input--width-2",
                            id: "task-deadline-day",
                            name: "day",
                            value: taskDeadline['task-deadline-day']
                        },
                        {
                            classes: "govuk-input--width-2",
                            id: "task-deadline-month",
                            name: "month",
                            value: taskDeadline['task-deadline-month']
                        },
                        {
                            classes: "govuk-input--width-4",
                            id: "task-deadline-year",
                            name: "year",
                            value: taskDeadline['task-deadline-year']
                        }
                    
                    ]
                }) }}

                {{ govukButton({
                    text: submitButtonText
                }) }}
            </form>

        </div>
    </div>
{% endblock %}