{% extends "layouts/main.njk" %}

{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageContent %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form action="" method="post" novalidate >
                {{ govukDateInput({
                    id: "task-deadline",
                    namePrefix: "task-deadline",
                    hint: {
                        text: "Enter the task deadline below."
                    },
                    items: [
                        {
                            classes: "govuk-input--width-2",
                            id: "task-deadline-day",
                            name: "day",
                            value: taskDeadline['task-deadline-day'] or errors['task-deadline-day'].value,
                            errorMessage: errors['task-deadline-day'] and {
                                text: errors['task-deadline-day'].msg
                            }
                        },
                        {
                            classes: "govuk-input--width-2",
                            id: "task-deadline-month",
                            name: "month",
                            value: taskDeadline['task-deadline-month'] or errors['task-deadline-month'].value,
                            errorMessage: errors['task-deadline-month'] and {
                                text: errors['task-deadline-month'].msg
                            }
                        },
                        {
                            classes: "govuk-input--width-4",
                            id: "task-deadline-year",
                            name: "year",
                            value: taskDeadline['task-deadline-year'] or errors['task-deadline-year'].value,
                            errorMessage: errors['task-deadline-year'] and {
                                text: errors['task-deadline-year'].msg
                            }
                        }
                    
                    ]
                }) }}

                {{ govukButton({
                    text: submitButtonText
                }) }}
            </form>

        </div>
    </div>
{% endblock %}