{% extends "layouts/main.njk" %}

{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageContent %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form action="" method="post" novalidate >


                {{ govukRadios({
                    name: "taskPriority",
                    id: "taskPriority",
                    items: priorityRadioOptions,
                    errorMessage: errors['taskPriority'] and {
                        text: errors['taskPriority'].msg
                    }
                }) }}

                {{ govukButton({
                    text: submitButtonText
                }) }}
            </form>

        </div>
    </div>
{% endblock %}