{% extends "layouts/main.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageContent %}

    {% include "./includes/story-points-headings.njk" %} | safe

{% endblock %}