{% extends "layouts/main.njk" %}
{% block backLink %}{% endblock %}

{% block content %}

{{ govukBackLink({
    text: "Back",
    href: "/challenges"
  }) }}

  {% block pageContent %}
    {% include "pages/challenges/story-points/includes/story-points-content.njk" %}
  {% endblock %}

{% endblock %}